Repository ecmwf/anemoi-plugins, pull requests merged in 2025-03, with the labels that each got.

#3 feat: GitHub actions
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ci-hpc-config.yml
  .github/dependabot.yml
  .github/labeler.yml
  .github/pull_request_template.md
  .github/release.yml
  .github/workflows/downstream-ci-hpc.yml
  .github/workflows/pr-conventional-commit.yml
  .github/workflows/pr-label-conventional-commits.yml
  .github/workflows/pr-label-file-based.yml
  .github/workflows/pr-label-public.yml
  .github/workflows/push-to-private.yml
  .github/workflows/python-publish.yml
  .github/workflows/python-pull-request.yml
  .github/workflows/qa.yml
  .github/workflows/readthedocs-pr-update.yml
  .github/workflows/release-please.yml
  docs/cli/new.rst
  docs/conf.py
  docs/index.rst
  pyproject.toml
  src/anemoi/plugins/commands/new.py
Labels: enhancement

#5 Feat/plugin support
  src/anemoi/plugins/commands/new.py
  src/anemoi/plugins/data/templates/transform/filter/matching-plugin.py.mako
  src/anemoi/plugins/data/templates/transform/filter/plugin.py.mako
Labels: documentation, dependencies

#9 chore: Update pyproject toml
  .github/workflows/downstream-ci-hpc.yml
  .release-please-manifest.json
  CHANGELOG.md
  pyproject.toml
Labels: documentation, dependencies, CI/CD
